* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #212121;
    color: #fff;
}

.header {
    width: 100%;
    height: 56px;
    /* border: 2px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

h2 {
    width: 50%;
    height: 56px;
    margin: 10px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.timeBox {
    width: 10%;
    height: 56px;
    border: 2px solid #fff;
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}


.container {
    width: auto;
    height: auto;
    border: 2px solid #fff;
}

.search{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    background-color:brown;
}

#title {
    width: 70%;
    height: 40px;
    border: 2px solid #fff;
    outline: none;
    font-size: 2rem;
}
input::placeholder{
    color: #fff;
    background-color: rebeccapurple;
}

button {
    width: 30%;
    height: 40px;
    background-color: green;
    font-size: 1.5rem;
    border: none;
}